<div class="quizContent">

<h1>Create a new answer</h1>

<form action="/answers/{{answer.0.questionid}}/create" method="POST">
    <p>Please write answer in the format <b>A. answer</b></p>
    <p>{{question}}</p>
    <input type="text" placeholder="New Answer" name="answer">
    <input type="text" placeholder="true / false " name="correct">
    <button type="submit">Submit</button>
</form>
<br>
<a href='/answers/{{answer.0.questionid}}'>Click to go back</a>

</div>