<div class="quizContent">

<h1>Create a new quiz</h1>

<form action="/quizzes/create" method="POST">
    <input type="text" placeholder="title" name="title">
    <button type="submit">Submit</button>
</form>    

<br>

<a href='/quizzes'>Click to go back</a>
</div>