
<h1>All Quizzes</h1>
  {{#each quizzes}}
  <table>
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.title}}</td>
      <td>
        <form action="/questions/{{this.id}}/" method="GET">
          <button type="submit">View</button>
        </form>
      </td>
    </tr>
</table>
{{/each}}

{{#if isEdit}}

  <form action="/quizzes/create/" method="GET">
    <button type="submit">Create New Quiz</button>
  </form>

{{/if}}