<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav>
        <a href="/" class="logo">Logo</a>
        <a href="/quizzes">Home</a>
        <a href="/users/logout">Logout</a>
      </nav>
    </header>

    <div class="bodyDiv">
      {{{body}}}
    </div>
    
  </body>
</html>
