<h1>Create a new question</h1>

<p>{{questions.0.quizid}}</p>
<form action="/questions/{{questions.0.quizid}}/create" method="POST">
    <input type="text" placeholder="New question" name="title">
    <input type="text" placeholder="quizid" value={{questions.0.quizid}} >
    <button type="submit">Submit</button>
</form>