<div class="quizContent">

<h1>Create a new question</h1>

<form action="/questions/{{questions.0.quizid}}/create" method="POST">
    <input type="text" placeholder="Type in new question" name="title">
    <button type="submit">Submit</button>
</form>
<br> 

<a href='/questions/{{questions.0.quizid}}/'>Click to go back</a>

</div>